<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="form-container">
        <form method="post" class="register-form">
            <div class="form-group">
                <label for="first_name"><i class="fa fa-user"></i> First Name:</label>
                <input type="text" id="first_name" name="first_name"><br>
            </div>
            <div class="form-group">
                <label for="last_name"><i class="fa fa-user"></i> Last Name:</label>
                <input type="text" id="last_name" name="last_name"><br>
            </div>
            <div class="form-group">
                <label for="email"><i class="fa fa-envelope"></i> Email:</label>
                <input type="email" id="email" name="email"><br>
            </div>
            <div class="form-group">
                <label for="university"><i class="fa fa-university"></i> University:</label>
                <input type="text" id="university" name="university"><br>
            </div>
            <div class="form-group">
                <label for="country"><i class="fa fa-globe"></i> Country:</label>
                <input type="text" id="country" name="country"><br>
            </div>
            <button type="submit">Register</button>
        </form>
        <div class="fields-medal-description">
            <img src="/static/5.jpg" alt="Maryna Viazovska">
            <p>
                <strong>Maryna Viazovska</strong> is a mathematician, winner of the Fields Medal and winner of the «Talents For Ukraine» grant program from the KSE Foundation.
                <br><br>
                Marina became the second woman in history to receive the most prestigious honor in mathematics for young scientists – the Fields Prize. Viazovska managed to solve the geometric problem of packing spheres in 8-dimensional space, which she worked on for several years. Previously, the problem was solved only for spaces with three dimensions and less, and the solution for the three-dimensional case (Kepler’s hypothesis) was presented in 300 pages of text using software code. By contrast, Viazovska’s solution to the 8-dimensional case took only 23 pages and was «stunningly simple.»
                <br><br>
                The laureate spent 15,000 Canadian dollars to support Ukraine. In a speech at the medal ceremony at the World Congress of Mathematicians, Maryna Viazovska spoke about Ukraine, Russia’s war against Ukraine and the crimes of the Russian occupiers. In particular, she mentioned the young Ukrainian mathematician Yulia Zdanovska, who was killed by the Russians during the bombing of Kharkiv.
                <br><br>
                The professor currently heads the Department of Number Theory at the Swiss Federal Polytechnic School of Lausanne, plans to continue solving geometric problems, work on issues in Fourier analysis, construction of functions with special properties. Also, Marina plans to learn something new, to look for fields in which her knowledge could be useful and applied.
                <br><br>
                Maryna was awarded the Order of Merit by the President of Ukraine, Volodymyr Zelenskyi.
                <br><br>
                The winners of «Talents For Ukraine» are people who are changing Ukraine and the world.
                <br><br>
                More about the Talents For Ukraine winners.
            </p>
        </div>
    </div>
</body>
</html>
